.info {
  position: relative;
  margin-bottom: 40px;
  border: 1px solid #e3e6eb;
  border-radius: 4px;
  &__item {
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #e3e6eb;
    display: flex;
    @include response(1200px) {
      padding: 20px 16px;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__item-img {
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  &__item-box {
    position: relative;
  }
  &__item-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.158px;
    @include response(1200px) {
      font-size: 16px;
    }
  }
  &__item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.141px;
    @include response(1200px) {
      font-size: 14px;
    }
  }
}
