.mission {
  position: relative;
  margin-bottom: 60px;
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    padding: 40px 30px;
  }
  &__left {
  }
  &__title {
  }
  &__text {
  }
  &__info {
  }
  &__info-cell {
  }
  &__info-cell-title {
  }
  &__info-cell-value {
  }
  &__brands {
  }
  &__brands-item {
  }
  &__right {
  }
  &__experts-title {
  }
  &__experts-text {
  }
  &__experts-list {
  }
  &__experts-item {
  }
  &__experts-item-ava {
  }
  &__experts-item-box {
  }
  &__experts-item-name {
  }
  &__experts-item-position {
  }
  &__experts-btn-box {
  }
  &__experts-btn {
  }
}
