.team {
  position: relative;
  padding-top: 40px;
  padding-bottom: 230px;
  @include response(1200px) {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.422px;
    position: relative;
    margin: 0 0 40px;
    @include response(1200px) {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.211px;
      margin-bottom: 16px;
    }
  }
  &__info {
    position: relative;
    background: #e7e7e7;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 80px;
    @include response(1200px) {
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  }
  &__info-text {
    position: relative;
    padding: 20px 10px 20px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    @include response(1200px) {
      padding: 12px 20px;
    }
    p {
      margin: 0;
    }
  }
  &__box {
    position: relative;
    background: #0a142f;
    flex: 0 0 510px;
    max-width: 510px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include response(1200px) {
      flex: 0 0 auto;
      max-width: 100%;
      padding: 14px 80px;
    }
  }
  &__products {
    position: relative;
    margin-bottom: 80px;
    @include response(1200px) {
      margin-bottom: 10px;
    }
  }
  &__products-title {
    position: relative;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    @include response(1200px) {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.576px;
    }
  }
  &__products-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include response(1200px) {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -20px;
    }
  }
  &__products-item {
    position: relative;
    flex: 0 0 auto;
    @include response(1200px) {
      flex: 0 0 calc(33.333% - 20px);
      margin-left: 20px;
    }
  }
  &__list {
    position: relative;
    margin-bottom: 80px;
    @include response(1200px) {
      margin-bottom: 40px;
    }
  }
  &__row {
    position: relative;
    margin-bottom: 60px;
    @include response(1200px) {
      margin-bottom: 42px;
    }
    &:last-child {
      margin-bottom: 0;
      .team__item {
        border-bottom: 0;
      }
    }
  }
  &__row-title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    @include response(1200px) {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.576px;
      border-bottom: 1px solid #000;
      padding-bottom: 12px;
    }
  }
  &__items {
    position: relative;
  }
  &__item {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: flex-start;
    @include response(1200px) {
      padding-top: 20px;
      padding-bottom: 20px;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  &__item-ava {
    position: relative;
    flex: 0 0 200px;
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin-right: 40px;
    border-radius: 50%;
    overflow: hidden;
    @include response(1200px) {
      flex: 0 0 74px;
      max-width: 74px;
      height: 74px;
      margin-right: 8px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-box {
    position: relative;
  }
  &__item-name {
    position: relative;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.211px;
    @include response(1200px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  &__item-position {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.141px;
    margin-bottom: 20px;
    @include response(1200px) {
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.123px;
      margin-bottom: 12px;
    }
  }
  &__item-description {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.141px;
    margin-top: 10px;
    max-width: 800px;
    @include response(1200px) {
      max-width: calc(100% + 82px);
      margin-left: -82px;
      font-size: 14px;
      letter-spacing: -0.123px;
    }
    p {
      margin: 0;
    }
  }
  &__policy {
    position: relative;
  }
  &__policy-title {
    position: relative;
    background: #e7e7e7;
    font-size: 32px;
    font-weight: 700;
    padding: 12px;
    margin-bottom: 40px;
    @include response(1200px) {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.576px;
      background: transparent;
      padding: 0 0 12px;
      border-bottom: 1px solid #000;
      margin-bottom: 12px;
    }
  }
  &__policy-box {
    position: relative;
    display: flex;
    @include response(1200px) {
      display: block;
    }
  }
  &__policy-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.141px;
    padding-left: 56px;
    @include response(1200px) {
      padding-left: 0;
      margin-bottom: 24px;
    }
    p {
      margin: 0 0 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__policy-varning {
    position: relative;
    flex: 0 0 458px;
    max-width: 458px;
    width: 100%;
    margin-left: 12px;
    border-radius: 6px;
    background: #e3e6eb;
    padding: 40px;
    color: #b51119;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    @include response(1200px) {
      padding: 24px;
      max-width: 100%;
      margin-left: 0;
    }
  }
}
