.team {
  position: relative;
  padding-top: 40px;
  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.422px;
    position: relative;
    margin: 0 0 40px;
  }
  &__info {
    position: relative;
    background: #e7e7e7;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 80px;
  }
  &__info-text {
    position: relative;
    padding: 20px 10px 20px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    p {
      margin: 0;
    }
  }
  &__box {
    position: relative;
    background: #0a142f;
    flex: 0 0 510px;
    max-width: 510px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__products {
    position: relative;
    margin-bottom: 80px;
  }
  &__products-title {
    position: relative;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  &__products-list {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__products-item {
    position: relative;
    flex: 0 0 auto;
  }
  &__list {
    position: relative;
    margin-bottom: 80px;
  }
  &__row {
    position: relative;
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
      .team__item {
        border-bottom: 0;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
  }
  &__items {
    position: relative;
  }
  &__item {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: flex-start;
  }
  &__item-ava {
    position: relative;
    flex: 0 0 200px;
    max-width: 200px;
    width: 100%;
    margin-right: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-box {
    position: relative;
  }
  &__item-name {
    position: relative;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.211px;
  }
  &__item-position {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.141px;
    margin-bottom: 20px;
  }
  &__item-description {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.141px;
    margin-top: 10px;
    max-width: 800px;
    p {
      margin: 0;
    }
  }
}
