<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="blog">
        <div class="blog__bg">
          <img src="data/footer-bg.jpg" width="1680" height="869" alt="bg">
        </div>
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="#">Blog</a></li>
            <li><span>Ultimate Buying Guide on Commercial Doors & Hardware</span></li>
          </ul>
          <div class="blog__head">
            <h1 class="blog__title">Panic Hardware Requirements in Commerical Buildings</h1>
            <div class="blog__head-row">
              <div class="blog__head-cell">
                By <a href="#">Youssef Hanna</a>
              </div>
              <div class="blog__head-cell">
                Updated on Jun 30, 2023
              </div>
            </div>
            <div class="blog__head-row">
              <div class="blog__head-cell">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0.5" width="18" height="18" rx="9" fill="#0A8D1F"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9965 5.67085C14.2243 5.89866 14.2243 6.26801 13.9965 6.49581L8.16313 12.3291C7.93532 12.557 7.56598 12.557 7.33817 12.3291L5.00484 9.99581C4.77703 9.76801 4.77703 9.39866 5.00484 9.17085C5.23264 8.94305 5.60199 8.94305 5.8298 9.17085L7.75065 11.0917L13.1715 5.67085C13.3993 5.44305 13.7687 5.44305 13.9965 5.67085Z" fill="white"/>
                </svg>
                Fact checked by <a href="#">Jeffrey Dinardo Jr.</a>
              </div>
            </div>
            <div class="blog__head-img">
              <img src="data/article.jpg" width="800" height="400" alt="article">
            </div>
          </div>
          <div class="blog__box">
            <div class="blog__left">
              <div class="blog__contents">
                <div class="blog__contents-title">Contents</div>
                <ul class="blog__contents-list">
                  <li>
                    <a href="#">
                      Panic hardware goes
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Common Applications for Panic Hardware
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Assembly Applications
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Educational Applications
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      High-Hazard Areas
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Fire Exit Hardware
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Other Building Code Considerations
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Different Types of Panic Hardware
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Dogging an Exit Device
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Final Thoughts
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.84467 1.08311C8.13756 0.805631 8.61244 0.805631 8.90533 1.08311L15.2803 7.12258C15.5732 7.40006 15.5732 7.84994 15.2803 8.12742L8.90533 14.1669C8.61244 14.4444 8.13756 14.4444 7.84467 14.1669C7.55178 13.8894 7.55178 13.4395 7.84467 13.1621L12.9393 8.33553H1.25C0.835786 8.33553 0.5 8.01741 0.5 7.625C0.5 7.23259 0.835786 6.91447 1.25 6.91447H12.9393L7.84467 2.08794C7.55178 1.81047 7.55178 1.36059 7.84467 1.08311Z" fill="black"/>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blog__center">
              <div class="text-content">
                <p>panic hardware goes by many names such as panic bars, exit devices, or push bars but no matter which name you use, the main idea behind panic hardware is to provide a quick and safe means of egress for people attempting to exit an area in an emergency. The origins of panic hardware are directly related to mass casualty tragedies in America and the United Kingdom. The single  largest loss of life due to a building fire in the history of the US was the 1903 Iroquois Theater fire in Chicago - and it could’ve been prevented with panic hardware. </p>
                <p>Many patrons inside the building died because they were unable to operate the complex Bascule locks on the fire exits or simply became trapped as the crowd surged against the doors. As a result, <b>602 people lost their lives</b> that day. After this tragic event, many buildings started using panic hardware in their buildings so that occupants can easily operate the emergency exits by simply pushing against the bar on the door. Soon, regulatory agencies required panic bars to be installed across almost all commercial buildings in America.</p>
                <p>Now in present-day America, numerous coding regulations dictate how and when panic hardware should be installed. Here are several applications that are commonly regulated by building codes and some examples of situations you may encounter in your commercial building that require panic hardware.</p>
                &nbsp;
                <h2>Common Applications for Panic Hardware</h2>
                <p>Depending on your location, you may have to abide by the International Building Code (IBC), National Fire Protection Association (NFPA), and other Authority Having Jurisdictions (AHJs).</p>
                <p>Regulations can change from state to state or even city to city, so be sure to <a href="#">check with your local regulatory agency</a> to determine exactly what codes you need to adhere to when installing panic hardware in your commercial business.</p>
                <p>For jurisdictions following the <span style="color: #253A64; text-decoration: underline;">2006 and above IBC</span>, you are required to install panic hardware in the following situations and occupancy classifications:</p>
                <ul>
                  <li>Assembly applications where there are 50 or more occupants</li>
                  <li>Educational applications where there are 50 or more occupants</li>
                  <li>High-hazard areas where any number of occupants may need quick egress</li>
                </ul>
                <p>For jurisdictions following the <span style="color: #253A64; text-decoration: underline;">NFPA 101 Life Safety Code</span>, you are required to install panic hardware in the following situations and occupancy types:</p>
                <ol>
                  <li>Assembly applications where there are 50 or more occupants</li>
                  <li>Educational applications where there are 50 or more occupants</li>
                  <li>High-hazard areas where any number of occupants may need quick egress</li>
                </ol>

              </div>
            </div>
            <div class="blog__right">
              <div class="blog__aside-img">
                <img src="data/aside.jpg" width="219" height="292" alt="aside">
              </div>
              <form action="#" class="blog__form">
                <div class="blog__form-title">Join our newsletter</div>
                <div class="blog__form-text">Subscribe to be notified about products launches, special offers and news.</div>
                <div class="blog__form-cell">
                  <input class="blog__form-input" type="email" placeholder="petervalijv@gmail.com">
                </div>
                <button class="blog__form-btn" type="submit">Subscribe</button>
                <div class="blog__form-bottom">100% SPAM free, Unsubscribe any time!</div>
              </form>
              <div class="blog__aside-title">Related articles</div>
              <div class="blog__aside-news">
                <div class="news-item">
                  <a href="#" class="news-item__img">
                    <img src="data/news-1.jpg" width="262" height="175" alt="news">
                  </a>
                  <div class="news-item__box">
                    <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                    <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  </div>
                </div>
                <div class="news-item">
                  <a href="#" class="news-item__img">
                    <img src="data/news-1.jpg" width="262" height="175" alt="news">
                  </a>
                  <div class="news-item__box">
                    <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                    <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  </div>
                </div>
                <div class="news-item">
                  <a href="#" class="news-item__img">
                    <img src="data/news-1.jpg" width="262" height="175" alt="news">
                  </a>
                  <div class="news-item__box">
                    <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                    <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>