<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="first-screen">
        <!-- there was a picture in the design, I couldn't get the gradient for .first-screen -->
        <div class="first-screen__bg">
          <img src="data/footer-bg.jpg" width="1680" height="869" alt="bg">
        </div>
        <div class="container">
          <ul class="breadcrumb breadcrumb--mobile">
            <li><a href="#">Commercial Door Hardware</a></li>
            <li><span>Panic Bars and Exit Devices</span></li>
          </ul>
          <div class="first-screen__holder">
            <div class="first-screen__main">
              <a href="#" class="first-screen__main-img">
                <img src="data/main.jpg" width="800" height="400" alt="main">
              </a>
              <div class="first-screen__main-info">
                <div class="first-screen__main-label label" style="color: #b51119;">GUIDES</div>
                <a href="#" class="first-screen__main-title">Ultimate Buying Guide on Commercial Doors & Hardware</a>
                <div class="first-screen__main-text">If you want to buy commercial doors for your unique needs, continue reading to learn more about what a commercial door is, what to look for and how to pick the best one for your needs.</div>
                <div class="first-screen__main-footer">
                  <span>By <b>Youssef Hanna</b></span>&nbsp;
                  <span>Jun 30, 2022</span>
                </div>
              </div>
            </div>
            <div class="first-screen__nav">
              <div class="first-screen__nav-item">
                <a href="#" class="first-screen__nav-item-img">
                  <img src="data/FA-2022.jpg" width="120" height="80" alt="FA-2022">
                </a>
                <div class="first-screen__nav-item-box">
                  <div class="first-screen__nav-item-label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="first-screen__nav-item-title" title="Yale wraps up another exciting year at IFA 2022">Yale wraps up another exciting year at IFA 2022</a>
                </div>
              </div>
              <div class="first-screen__nav-item">
                <a href="#" class="first-screen__nav-item-img">
                  <img src="data/Experience.jpg" width="120" height="80" alt="Experience">
                </a>
                <div class="first-screen__nav-item-box">
                  <div class="first-screen__nav-item-label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="first-screen__nav-item-title" title="Experience a new generation of home security with Yale">Experience a new generation of home security with Yale</a>
                </div>
              </div>
              <div class="first-screen__nav-item">
                <a href="#" class="first-screen__nav-item-img">
                  <img src="data/What-to-Look.jpg" width="120" height="80" alt="What-to-Look">
                </a>
                <div class="first-screen__nav-item-box">
                  <div class="first-screen__nav-item-label label" style="color: #B51119;">GUIDES</div>
                  <a href="#" class="first-screen__nav-item-title" title="What to Look for When Buying New Lockers for your School">What to Look for When Buying New Lockers for your School</a>
                </div>
              </div>
              <div class="first-screen__nav-item">
                <a href="#" class="first-screen__nav-item-img">
                  <img src="data/Back-to-school.jpg" width="120" height="80" alt="Back-to-school">
                </a>
                <div class="first-screen__nav-item-box">
                  <div class="first-screen__nav-item-label label" style="color: #B51119;">GUIDES</div>
                  <a href="#" class="first-screen__nav-item-title" title="Back to school made simple with the help of Yale">Back to school made simple with the help of Yale</a>
                </div>
              </div>
            </div>
          </div>
          <div class="news-list news-list--row-on-mobile">
            <div class="news-item news-item--revers">
              <a href="#" class="news-item__img">
                <img src="data/news-1.jpg" width="262" height="175" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                <div class="news-item__footer">
                  <span>By <b>Youssef Hanna</b></span>
                  <span>Jun 30, 2022</span>
                </div>
              </div>
            </div>
            <div class="news-item news-item--revers">
              <a href="#" class="news-item__img">
                <img src="data/news-1.jpg" width="262" height="175" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                <div class="news-item__footer">
                  <span>By <b>Youssef Hanna</b></span>
                  <span>Jun 30, 2022</span>
                </div>
              </div>
            </div>
            <div class="news-item news-item--revers">
              <a href="#" class="news-item__img">
                <img src="data/news-1.jpg" width="262" height="175" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                <div class="news-item__footer">
                  <span>By <b>Youssef Hanna</b></span>
                  <span>Jun 30, 2022</span>
                </div>
              </div>
            </div>
            <div class="news-item news-item--revers">
              <a href="#" class="news-item__img">
                <img src="data/news-1.jpg" width="262" height="175" alt="news">
              </a>
              <div class="news-item__box">
                <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                <div class="news-item__footer">
                  <span>By <b>Youssef Hanna</b></span>
                  <span>Jun 30, 2022</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="resources">
        <div class="container">
          <div class="resources__box">
            <div class="resources__left">
              <h2 class="resources__title">Useful Resources</h2>
              <div class="resources__text">The Markar Double Swing Hinge (DSH 1000) allows doors to open 100 degrees in either direction...</div>
            </div>
            <div class="resources__right">
              <div class="resources__list">
                <a href="#" class="resources__item">
                  <div class="resources__item-img">
                    <img src="data/resources.jpg" width="146" height="120" alt="resources">
                  </div>
                  <div class="resources__item-title">Door Openings and Sizes</div>
                </a>
                <a href="#" class="resources__item">
                  <div class="resources__item-img">
                    <img src="data/resources2.jpg" width="146" height="120" alt="resources">
                  </div>
                  <div class="resources__item-title">Commercial door installation</div>
                </a>
                <a href="#" class="resources__item">
                  <div class="resources__item-img">
                    <img src="data/resources3.jpg" width="146" height="120" alt="resources">
                  </div>
                  <div class="resources__item-title">Door swing and Handling chart</div>
                </a>
                <a href="#" class="resources__item">
                  <div class="resources__item-img">
                    <img src="data/resources4.jpg" width="146" height="120" alt="resources">
                  </div>
                  <div class="resources__item-title">Door Closer Hole Pattern Chart</div>
                </a>
                <a href="#" class="resources__item">
                  <div class="resources__item-img">
                    <img src="data/resources5.jpg" width="146" height="120" alt="resources">
                  </div>
                  <div class="resources__item-title">Commercial Hardware Finishes</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mission">
        <div class="container">
          <div class="mission__box">
            <div class="mission__left">
              <h2 class="mission__title">Our Mission</h2>
              <div class="mission__text">
                <p>At Quality Door & Hardware, we understand that navigating the world of commercial door hardware can be complex and time-consuming. With over 25 years of experience serving thousands of companies and individual customers, our mission is to simplify product documentation and make it easier for everyone to understand and use our products. We're committed to providing clear, concise information that help our customers to make informed decisions and streamline their projects.</p>
              </div>
              <div class="mission__info">
                <div class="mission__info-cell">
                  <div class="mission__info-cell-title">25 Years</div>
                  <div class="mission__info-cell-value">Serving Customers</div>
                </div>
                <div class="mission__info-cell">
                  <div class="mission__info-cell-title">2+ Million</div>
                  <div class="mission__info-cell-value">Products Inspected and Tested</div>
                </div>
              </div>
              <div class="mission__brands">
                <div class="mission__brands-item">
                  <img src="data/apple.jpg" width="80" height="80" alt="apple">
                </div>
                <div class="mission__brands-item">
                  <img src="data/google.jpg" width="80" height="80" alt="google">
                </div>
                <div class="mission__brands-item">
                  <img src="data/eleven.jpg" width="80" height="80" alt="eleven">
                </div>
                <div class="mission__brands-item">
                  <img src="data/cosstcowhite.jpg" width="100" height="100" alt="cosstcowhite">
                </div>
                <div class="mission__brands-item">
                  <img src="data/ba.jpg" width="100" height="100" alt="ba">
                </div>
              </div>
            </div>
            <div class="mission__right">
              <h3 class="mission__experts-title">Expert Review and Validation Panel</h3>
              <div class="mission__experts-text">
                <p>Our Expert Review and Validation Panel comprises seasoned professionals who carefully review, test, and inspect every product in our warehouse. By leveraging their years of industry experience, we ensure that the content we provide is accurate, reliable, and trustworthy— giving our customers peace of mind and the confidence to make the right choices for their projects.</p>
              </div>
              <div class="mission__experts-list">
                <div class="mission__experts-item">
                  <div class="mission__experts-item-ava">
                    <img src="data/Jeff-Dinardo-Sr.jpg" width="50" height="50" alt="Jeff-Dinardo-Sr">
                  </div>
                  <div class="mission__experts-item-box">
                    <div class="mission__experts-item-name">Jeff Dinardo Sr</div>
                    <div class="mission__experts-item-position">President at Quality Door & Hardware Inc</div>
                  </div>
                </div>
                <div class="mission__experts-item">
                  <div class="mission__experts-item-ava">
                    <img src="data/Jeff-Dinardo-Sr.jpg" width="50" height="50" alt="Jeff-Dinardo-Sr">
                  </div>
                  <div class="mission__experts-item-box">
                    <div class="mission__experts-item-name">Jeff Dinardo Jr.</div>
                    <div class="mission__experts-item-position">Executive Vice President</div>
                  </div>
                </div>
                <div class="mission__experts-item">
                  <div class="mission__experts-item-ava">
                    <img src="data/Jeff-Dinardo-Sr.jpg" width="50" height="50" alt="Jeff-Dinardo-Sr">
                  </div>
                  <div class="mission__experts-item-box">
                    <div class="mission__experts-item-name">Youssef Emil</div>
                    <div class="mission__experts-item-position">Quality Inspector</div>
                  </div>
                </div>
              </div>
              <div class="mission__experts-btn-box">
                <a href="#" class="mission__experts-btn">
                  More about our <b>Validation Panel</b>
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.84467 2.08311C9.13756 1.80563 9.61244 1.80563 9.90533 2.08311L16.2803 8.12258C16.5732 8.40006 16.5732 8.84994 16.2803 9.12742L9.90533 15.1669C9.61244 15.4444 9.13756 15.4444 8.84467 15.1669C8.55178 14.8894 8.55178 14.4395 8.84467 14.1621L13.9393 9.33553H2.25C1.83579 9.33553 1.5 9.01741 1.5 8.625C1.5 8.23259 1.83579 7.91447 2.25 7.91447H13.9393L8.84467 3.08794C8.55178 2.81047 8.55178 2.36059 8.84467 2.08311Z" fill="black"/>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>