<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'header.html' %}
    <div class="wrapper">
      <div class="author">
        <div class="container">
          <div class="author__holder">
            <div class="author__title">Search Results for: Jeffrey</div>
            <div class="news-list">
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                  <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                  <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                  <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                  <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                  <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                  <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #b51119;">GUIDES</div>
                  <a href="#" class="news-item__title" title="ADA accessibility requirements and guidelines for door hardware">ADA accessibility requirements and guidelines for door hardware</a>
                  <div class="news-item__text">Door openings shall provide a clear width of 32 inches minimum and a maximum of 48 inches...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <a href="#" class="news-item__img">
                  <img src="data/news-1.jpg" width="262" height="175" alt="news">
                </a>
                <div class="news-item__box">
                  <div class="news-item__label label" style="color: #1121B5;">NEWS</div>
                  <a href="#" class="news-item__title" title="Yale, one of the oldest names in the lock industry launches new range of padlocks.">Yale, one of the oldest names in the lock industry launches new range of padlocks.</a>
                  <div class="news-item__text">With 180 years of manufacturing experience and a first patent for padlocks in 1857, we pride ourselves...</div>
                  <div class="news-item__footer">
                    <span>By <b>Youssef Hanna</b></span>
                    <span>Jun 30, 2022</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    {% include 'popup.html' %}
    {% include 'js.html' %}
  </body>
</html>