<div class="faq">
  <div class="faq__title">Frequently Asked Questions</div>
  <div class="faq__list">
    <div class="faq__item">
      <div class="faq__head">
        <div class="faq__item-title">What is the function of commercial door hardware?</div>
        <div class="faq__item-btn"></div>
      </div>
      <div class="faq__item-body">
        <div class="text-content"><p>Door hardware typically used for commercial buildings are usually heavy duty as these places have a higher amount of foot traffic compared to residential buildings. For this reason, commercial grade door hardware is divided into three grades based on the ANSI / BHMA grading system: 1, 2, and 3 to help you understand the quality when making a purchase.</p></div>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__head">
        <div class="faq__item-title">What type of door hardware is typically used for commercial buildings?</div>
        <div class="faq__item-btn"></div>
      </div>
      <div class="faq__item-body">
        <div class="text-content"><p>Door hardware typically used for commercial buildings are usually heavy duty as these places have a higher amount of foot traffic compared to residential buildings. For this reason, commercial grade door hardware is divided into three grades based on the ANSI / BHMA grading system: 1, 2, and 3 to help you understand the quality when making a purchase.</p></div>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__head">
        <div class="faq__item-title">What is the material used to make commercial door hardware?</div>
        <div class="faq__item-btn"></div>
      </div>
      <div class="faq__item-body">
        <div class="text-content"><p>Door hardware typically used for commercial buildings are usually heavy duty as these places have a higher amount of foot traffic compared to residential buildings. For this reason, commercial grade door hardware is divided into three grades based on the ANSI / BHMA grading system: 1, 2, and 3 to help you understand the quality when making a purchase.</p></div>
      </div>
    </div>
    <div class="faq__item">
      <div class="faq__head">
        <div class="faq__item-title">What type of commercial door hardware is used for exterior doors?</div>
        <div class="faq__item-btn"></div>
      </div>
      <div class="faq__item-body">
        <div class="text-content"><p>Door hardware typically used for commercial buildings are usually heavy duty as these places have a higher amount of foot traffic compared to residential buildings. For this reason, commercial grade door hardware is divided into three grades based on the ANSI / BHMA grading system: 1, 2, and 3 to help you understand the quality when making a purchase.</p></div>
      </div>
    </div>
  </div>
</div>